		{include file="ugroup/head" /}
		<h2>用户列表（{$ugroupcount}）</h2>
			{volist name="ugrouplist" id="ugroup"}
			<div class="info">
				ID:{$ugroup.id}<br/>
				分组名:<a href="user-readbyugroup-ugroupid-{$ugroup.id}.html">{$ugroup.ugroupname}</a><br/>
				创建时间:{$ugroup.create_time}<br/>
				更新时间：{$ugroup.update_time}<br/>
				{if condition="($Think.session.vip.ugroup_id>0) and ($Think.session.vip.ugroup_id<3)"}
				<a href="ugroup-edit-id-{$ugroup.id}.html">编辑</a>
						{/if}
			</div>
			{/volist}
		{include file="ugroup/foot"/}