		{include file="article/head" /}
		<h2>博客列表-Tag分类：{$tag}（{$count}）</h2>
			{volist name="list" id="article"}
			<div class="info">
				ID:{$article.id}<br/>
				标题:
				<a href="../../read/id/{$article.id}">
				{$article.title}
				</a>
				<br/>
				作者:<a href="../../readbyuser/userid/{$article.user_id}">{$article.username}</a><br/>
				时间:{$article.create_time}<br/>
				修改时间:{$article.update_time}<br/>
				分类:
				<a href="../../readbycategory/categoryid/{$article.category_id}">
				{$article.categoryname}
				</a>
				<br/>
				关键字:
						{volist name="article.tagsarr" id="tag"}
						<a href="../../readbytag/tag/{$tag.title}">{$tag.title}</a>
						{/volist}
				<br/>
				
				<a href="../../read/id/{$article.id}">查看</a>
				{if condition="($Think.session.vip.ugroup_id>0) and ($Think.session.vip.ugroup_id<3)"}
				<a href="../../edit/id/{$article.id}">编辑</a>
				{/if}
				{if condition="($Think.session.vip.ugroup_id>0) and ($Think.session.vip.ugroup_id<2)"}
				<a href="../../delete/id/{$article.id}">删除</a>
				{/if}
			</div>
			{/volist}
				
		{include file="article/foot"/}