		{include file="article/head" /}
		<h2>博客分类列表-{$category.name}（{$count}）</h2>
			{volist name="list" id="article"}
			<div class="info">
				ID:{$article.id}<br/>
				标题:
				<a href="article-read-id-{$article.id}.html">
				{$article.title}
				</a>
				<br/>
				作者:<a href="article-readbyuser-userid-{$article.user_id}.html">{$article.username}</a><br/>
				时间:{$article.create_time}<br/>
				修改时间:{$article.update_time}<br/>
				分类:
				<a href="article-readbycategory-categoryid-{$article.category_id}.html">
				{$article.categoryname}
				</a>
				<br/>
				关键字:
						{volist name="article.tagsarr" id="tag"}
						<a href="article-readbytag-tag-{$tag.title}.html">{$tag.title}</a>
						{/volist}
				<br/>
				<a href="article-read-id-{$article.id}.html">查看</a>
				{if condition="($Think.session.vip.ugroup_id>0) and ($Think.session.vip.ugroup_id<3)"}
				<a href="article-edit-id-{$article.id}.html">编辑</a>
				{/if}
				{if condition="($Think.session.vip.ugroup_id>0) and ($Think.session.vip.ugroup_id<2)"}
				<a href="article-delete-id-{$article.id}.html">删除</a>
				{/if}
				<br/>
			</div>
			{/volist}
			{$list->render()}
		{include file="article/foot"/}