{include file="article/head"/}
			ID:{$article.id}<br/>
			标题:{$article.title}<br/>
			正文:{$article.content}<br/>
			状态:{$article.status}<br/>
			作者:<a href="../../readbyuser/userid/{$article.user_id}">{$article.username}</a><br/>
			分类:<a href="../../readbycategory/categoryid/{$article.category_id}">{$article.categoryname}</a><br/>
			关键字:
			{volist name="article.tagsarr" id="tag"}
			<a href="../../readbytag/tag/{$tag.title}">{$tag.title}</a>
			{/volist}<br/>
			创建时间：{$article.create_time}<br/>
			更新时间：{$article.update_time}<br/>
			阅读次数：{$article.vtimes}<br/>
				<a href="../../edit/id/{$article.id}">编辑</a>
				<a href="../../delete/id/{$article.id}">删除</a>
				
				
				<hr/>
				评论：<br/>
				{volist name="comments" id="comment"}
					ID:{$comment.id}<br/>
				内容:{$comment.content}<br/>
				作者:<a href="../../../user/read/id/{$comment.user_id}">{$comment.username}</a><br/>
				评论对象:<a href="../../../article/read/id/{$comment.comment_id}">{$comment.commentto.title}</a><br/>
				时间:{$comment.create_time}<br/>
				修改时间:{$comment.update_time}<br/>
				<a href="../../../comment/edit/id/{$comment.id}">编辑</a>
				<a href="../../../comment/delete/id/{$comment.id}">删除</a>
				{/volist}
				<hr/>
			
			<form method="post" action="{:url('index/comment/add')}">
			<input type="hidden" name="comment_id" value="{$article.id}"></input>
			评论*<textarea name="content"></textarea><br/>
			作者*<input type="text" name="user_id" value="1"></input><br/>
			<input type="submit"></input>
		</form>
{include file="article/foot"/}