{include file="user/head"/}
		<form method="post" action="{:url('index/user/update')}">
			<input type="hidden" name="id" value="{$user.id}"></input>
			用户名：<input type="text" name="username" value="{$user.username}"></input><br/>
			密码：<input type="text" name="password" value="{$user.password}"></input><br/>
			姓名：<input type="text" name="name" value="{$user.name}"></input><br/>
			年龄：<input type="text" name="age" value="{$user.age}"></input><br/>
			性别：<input type="text" name="sex" value="{$user.sex}"></input><br/>
			生日：<input type="text" name="birthday" value="{$user.birthday}"></input><br/>
			国家：<input type="text" name="country" value="{$user.country}"></input><br/>
			qq：<input type="text" name="qq" value="{$user.qq}"></input><br/>
			婚否：<input type="text" name="single" value="{$user.single}"></input><br/>
			邮箱：<input type="text" name="email" value="{$user.email}"></input><br/>
			主页：<input type="text" name="web" value="{$user.web}"></input><br/>
			简介：<input type="text" name="introduce" value="{$user.introduce}"></input><br/>
			用户组：<input type="text" name="ugroup_id" value="{$user.ugroup_id}"></input><br/>
			<input type="submit"></input>
		</form>

{include file="user/foot"/}