<html>
		<head>
			<meta charset="UTF-8"></meta>
			<title>article-index</title>
		</head>
	<body>
	<ul>
		<li>
				<ul>
					<li><a href="{:url('index/article/index')}">博客首页（博客列表）</a></li>
					<li><a href="{:url('index/category/index')}">日志分类</a></li>
					<li><a href="{:url('index/category/input')}">增加分类</a></li>
					<li><a href="{:url('index/article/input')}">新增日志</a></li>
					<li><a href="{:url('index/tag/index')}">关键字</a></li>
					<li><a href="{:url('index/comment/index')}">查看评论</a></li>
				</ul>
		</li>
		<li>
				<ul>
					<li><a href="{:url('index/user/index')}">用户列表</a></li>
					<li><a href="{:url('index/user/input')}">注册</a></li>
					<li><a href="{:url('index/ugroup/index')}">用户分组</a></li>
				</ul>
				
		</li>
	</ul>
<hr></hr>