		{include file="user/head" /}
		<h2>用户列表-分组：{$ugroup.ugroupname}（{$usercount}）</h2>
			{volist name="userlist" id="user"}
			<div class="info">
				ID:{$user.id}<br/>
				用户名:<a href="user-read-id-{$user.id}.html">{$user.username}</a><br/>
				姓名:{$user.name}<br/>
				用户组：{$user.ugroupname}<br/>
				{if condition="($Think.session.vip.ugroup_id>0) and ($Think.session.vip.ugroup_id<3)"}
				<a href="user-edit-id-{$user.id}.html">编辑</a>
				{/if}
			</div>
			{/volist}
		{include file="user/foot"/}